version: 2.1

orbs:
  docker: circleci/docker@2.6.0

jobs:

  build-and-push:
    environment:
      REGISTRY_HOST: harbor.k8s.libraries.psu.edu
      REGISTRY_REPO: library/ci-utils
      TAG: << parameters.version >>
    executor: docker/docker
    parameters:
      version:
        type: string
    steps:
    - setup_remote_docker
    - checkout
    - docker/check:
        registry: $REGISTRY_HOST
    - docker/build:
        image: $REGISTRY_REPO
        registry: $REGISTRY_HOST
        tag: $TAG
    - docker/push:
        image: $REGISTRY_REPO
        registry: $REGISTRY_HOST
        tag: $TAG

workflows:

  docker_push:
    jobs:
      - build-and-push:
          context: org-global
          matrix:
            parameters:
              version: ['latest']
          filters:
            branches:
              only:
                - master
                - jimtest
      - build-and-push:
          context: org-global
          matrix:
            parameters:
              version: [ "$CIRCLE_TAG" ]
          filters:
            branches:
              ignore: /.*/
            tags:
              only:
                - /^v\d+.*/
